#main{
    height: 6000px;
    text-align: center;
    background-color: #f5f5f5;
}
#main h2{
    font-weight: lighter;
    text-align: left;
}
#main .main-img{
    width: 1226px;
    height: 120px;
    margin: 20px 0;
}
#main .title{
    margin-top: 22px;
    font-weight: 500;
    font-size: 14px;
}
#main .desc{
    font-size: 12px;
    color: #b0b0b0;
}
#main .price{
    margin-top: 12px;
    font-size: 14px;
    color:  #ff6709;
}
#main .price del{
    color:#757575;
}
#main .whloe{
    top: -35px;
    right: 0;
    font-size: 16px;
}
#main .whloe i{
    color: #b0b0b0;
}
#main .whloe:hover,
#main .whloe:hover i{
    color:#ff6709 ;
}

#main .main-nav{
    top: -35px;
    right: 0;
    width: 156px;
    height: 25px;
    font-size: 16px;
    text-align: right;
    color: #424242;
    /* background-color: red; */
}
#main .main-nav span{
    display:inline-block;
    margin-left: 20px;
    /* color: #ff6709; */
    /* border-bottom: 2px solid #f5f5f5; */
}
.active{
    color: #ff6709;
    border-bottom: 2px solid #ff6709;
}
#main .homeele .homeele-r ul.show{
    display: block;
}
/* 小米闪购 */
.miflashsale{
    height: 300px;
    padding-top: 15px;
}
.miflashsale-left{
    float: left;
    height: 100%;
    padding-top: 54px;
    font-size: 21px;
    color: #ef3a3b;
    border-top: 1px solid #e53935;
    background-color:#f1eded;
}
.miflashsale-left img{
    margin: 25px  auto;
}
.miflashsale-left .desc{
    color: rgba(0,0,0,.54);
    font-size: 15px;
}
.miflashsale-left span{
    display:inline-block;
    line-height: 46px;
    color: #605751;
    margin-top: 30px;
}
.miflashsale-left .da{
    width: 46px;
    height: 46px;
    color: white;
    background-color: #605751;
}
.miflashsale-right{
    overflow: hidden;
    position: absolute;
    top: 70px;
    left: 235px;
    width: 991px;
    height: 300px;
    padding-top: 54px;
}
#miflashsaleLB{
    position: absolute;
    top: 0;
    left: 0;
    width: 1984px;
    height: 100%;
    /* background-color: yellow; */
}
#miflashsaleLB .miLB-m{
    float: left;
    width: 235px;
    height: 100%;
    margin-left: 13px;
    background-color: rgba(0,0,0,.02);
    border-top: 1px solid #e53935;
}
#miflashsaleLB .miLB-m img{
    width: 160px;
    height: 160px;
    margin-top:54px;
}
.miflashsaleLB-bu{
    position: relative;
    top: -15px;
    left: 100%;
    z-index: 20;
    margin-left: -80px;
    width: 80px;
    height: 24px;
}
.miflashsaleLB-bu i{
  display: inline-block;
  width: 36px;
  height: 24px;
  color: #b0b0b0;
  border: 1px solid #e0e0e0;
}
.miflashsaleLB-bu i:hover{
    color:#ff6709;
}

/* 手机 */
#main .phone{
    height: 614px;
    margin-top:10px;
    /* background-color: red; */
}
#main .phone .phone-left{
    float: left;
    /* height: 614px; */
}
#main .phone ul{
    float: left;
    width: 991px;
    height: 614px;
    /* margin-left: 1px; */
    /* background-color: yellow; */
}
#main .phone ul li{
    /* position: relative; */
    float: right;
    width: 235px;
    height: 260px;
    margin-left: 12px;
    margin-bottom: 14px;
    padding: 20px 0;
    background-color: #fff;
    
}
#main .phone ul li img{
    width: 160px;
    height: 160px;
}
#main .phone ul li:hover,
.phone-left:hover{
    transform: translateY(-1px);
    box-shadow:0 0 20px 0px #e0e0e0;
    transition: all .2s linear;
}
/* 家电 */
#main .homeele{
    height: 614px;
    margin-top:10px;
    /* background-color: red; */
}
#main .homeele ul.homeele-left{
    float: left;
    height: 614px;
    padding: 0;
    margin: 0;
    /* height: 614px; */
}
#main .homeele ul.homeele-left li{
    width: 235px;
    height: 300px;
    padding: 0;
    margin-bottom: 14px;
}
#main .homeele .homeele-r{
    float: left;
    width: 991px;
    height: 614px;
}
#main .homeele .homeele-r ul{
    display: none;
}
#main .homeele ul li{
    float: right;
    width: 235px;
    height: 260px;
    margin-left: 12px;
    margin-bottom: 14px;
    padding: 20px 0;
    background-color: #fff;
    
}
#main  .homeele-r ul li img{
    width: 160px;
    height: 160px;
}
#main  ul li.last{
    padding: 0;
    background-color: #f5f5f5
}
#main  ul li.last img{
    width: 80px;
    height: 80px;
}
#main  ul li.last .more{
    width: 235px;
    height: 113px;
    margin-bottom: 14px;
    padding-top: 30px;
    background-color: #fff;
}
#main  ul li.last .last-text{
    float: left;
    margin-left: 30px;
}
#main  ul li.last .last-text p{
    font-size: 18px;
}
#main  ul li.last .last-img i{
    font-size: 48px;
    color: #ff6709;
    line-height: 45px;
}
#main ul li.last .last-img{
    float: left;
    margin-left: 30px;
}
#main ul li:hover,
#main ul li.last .more:hover{
    transform: translateY(-1px);
    box-shadow:0 0 20px 0px #e0e0e0;
    transition: all .2s linear;
}
#main  ul li.last:hover{
    transform: translateY(0px);
    box-shadow:none;
}